.schedule-container {
  background-color: #e5e9eb86;
  padding: 5px;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.05);
  margin-top: 6px;
    width: 97.6%;
    height: 34.5vh;
  position: absolute;
  top: 94.5%;
  left: 1px;
}

.schedule-title {
  font-size: 16px;
  font-weight: medium;
  margin-bottom: 18px;
  color: #1a3c4c;
}

.schedule-day {
  font-size: 12px;
  color: #666;
  margin: 12px 0 6px;
}

.schedule-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.appointment-card {
  background-color: #324e9c28;
  border-radius: 12px;
  padding: 10px 16px;
  min-width: 150px;
  font-size: 12px;
  color: #333;
  display: flex;
  flex-direction: column;
  gap: 5px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.05);
  position: relative;
}

.icon {
  position: absolute;
  top: 10px;
  right: 12px;
}
